body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(200deg, #a6a6a6, #006989);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  width: 550px;
}

button {
  font-size: 2.5rem;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 5px;
  color: #006989;
  background-color: #eaebed;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #cdcdcd;
}

button:active {
  transform: scale(0.95);
}

#zero {
  min-width: 215px;
}

#container {
  padding: 3rem;
  background-color: #006989;
  border-radius: 20px;
  box-shadow: 0 0 500px #eaebed;
}

#display {
  font-size: 5.67rem;
  width: 97%;
  margin-bottom: 25px;
  background-color: #006989;
  border: none;
  color: #eaebed;
  text-align: right;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
}
